apps/crm_api/.env
*.pyc
/archived
/apps/agents
.idea/.env.env.example
apps/crm_api/.env.example
apps/crm_web/.env.example
node_modules/
.next/
.env.local
*.tsbuildinfo
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/automation.iml
.idea/.name
